@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    src: url("../../assets//fonts/poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("../../assets//fonts/poppins/Poppins-Regular.ttf")
        format("truetype");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: url("../../assets//fonts/poppins/Poppins-Medium.ttf")
        format("truetype");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    src: url("../../assets//fonts/poppins/Poppins-SemiBold.ttf")
        format("truetype");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src: url("../../assets//fonts/poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    src: url("../../assets//fonts/poppins/Poppins-ExtraBold.ttf")
        format("truetype");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    src: url("../../assets//fonts/poppins/Poppins-Black.ttf") format("truetype");
}

/* ======= Common Styling ======= */

*,
*::before,
*::after {
    @apply font-poppins;
    -webkit-user-drag: none;
    user-select: none;
}

.row {
    @apply w-row-sm max-w-md m-auto;
}

ion-refresher.refresher-native {
    @apply z-50 !important;
}

/* ======= Welcome Page ======= */

.welcome-header-1 {
    text-shadow: 2px 2px #2499bc;
}

.welcome-header-2 {
    text-shadow: 2px 2px #bf3b93;
}

/* ======= Swiper ======= */

.swiper {
    @apply w-full h-full px-4 !important;
}

.swiper-slide {
    @apply text-center text-lg flex items-center justify-center h-auto !important;
}

.swiper-pagination .swiper-pagination-bullet {
    @apply bg-gray-300 opacity-100;
}

.swiper-pagination .swiper-pagination-bullet-active {
    @apply w-3 h-3 bg-primary;
}

/* ======= Chat List ======= */

.body-content::-webkit-scrollbar {
    @apply hidden;
}

.chatBox {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 2rem;
    height: 2rem;
    background: #1dd881;
    transform: rotate(90deg);
    z-index: 1;
    top: 0;
    left: 0;
}
